@use "sass:color";
@use "settings" as *;

// --- Everforest Dark (Hard) ---
$green: #A7C080;
$green_bg: #3C4841; // bg_green
$green_dim: #A7C080;

$red: #E67E80;
$red_bg: #493B40; // bg_red
$red_dim: #E67E80;

$blue: #7FBBB3;
$blue_bg: #384B55; // bg_blue
$blue_dim: #7FBBB3;

$yellow: #DBBC7F;
$yellow_dim: #DBBC7F;

$orange: #E69875;
$aqua: #83C092;
$purple: #D699B6;

// --- Neutrals ---
$grey0: #7A8478; // grey0
$grey1: #859289; // grey1
$grey2: #9DA9A0; // grey2

$bg_dim: #1E2326; // bg_dim
$bg0: #272E33; // bg0
$bg1: #2E383C; // bg1
$bg2: #374145; // bg2
$bg3: #414B50; // bg3
$bg4: #495156; // bg4
$bg5: #4F5B58; // bg5

$fg0: #D3C6AA; // fg
$fg1: #D3C6AA;

@if $variant =="light" {
  // --- Everforest Light ---
  $green: #8DA101;
  $green_bg: #F3F5D9; // bg_green
  $green_dim: #8DA101;

  $red: #F85552;
  $red_bg: #FFE7DE; // bg_red
  $red_dim: #F85552;

  $blue: #3A94C5;
  $blue_bg: #ECF5ED; // bg_blue
  $blue_dim: #3A94C5;

  $yellow: #DFA000;
  $yellow_dim: #DFA000;

  $orange: #F57D26;
  $aqua: #35A77C;
  $purple: #DF69BA;

  // --- Neutrals ---
  $grey0: #A6B0A0; // grey0
  $grey1: #939F91; // grey1
  $grey2: #829181; // grey2

  $bg_dim: #F2EFDF; // bg_dim
  $bg0: #FFFBEF; // bg0
  $bg1: #F8F5E4; // bg1
  $bg2: #F2EFDF; // bg2
  $bg3: #EDEADA; // bg3
  $bg4: #E8E5D5; // bg4
  $bg5: #BEC5B2; // bg5

  $fg0: #5C6A72; // fg
  $fg1: #5C6A72;
}


$_text_color: $fg0;
$_hb_fg_color: $fg0;

$theme_window_bg_color: $bg0;
$theme_window_fg_color: $fg0;
$theme_view_fg_color: $fg0;
$theme_view_bg_color: $bg0;
$theme_headerbar_bg_color: $bg0;
$theme_headerbar_fg_color: $_hb_fg_color;
$theme_headerbar_darker_shade_color: rgba(0, 0, 6, 0.12);
$theme_headerbar_shade_color: rgba(0, 0, 6, 0.12);
$theme_headerbar_border_color: rgba(0, 0, 6, 0.8);
$theme_sidebar_border_color: rgba(0, 0, 6, 0.07);
$theme_sidebar_bg_color: $bg3;
$theme_sidebar_fg_color: $_hb_fg_color;
$theme_sidebar_backdrop_color: $bg5;
$theme_sidebar_shade_color: rgba(0, 0, 6, 0.07);
$theme_card_bg_color: $bg3;
$theme_card_fg_color: $_text_color;
$theme_card_shade_color: rgba(0, 0, 6, 0.07);
$theme_dialog_bg_color: $bg_dim;
$theme_dialog_fg_color: $fg0;
$theme_popover_bg_color: $bg_dim;
$theme_popover_fg_color: $_text_color;
$theme_popover_shade_color: rgba(0, 0, 6, 0.07);
$theme_thumbnail_fg_color: $_text_color;
$theme_thumbnail_bg_color: $bg0;
$theme_shade_color: rgba(0, 0, 6, 0.07);
$theme_scrollbar_outline_color: $fg0;
$theme_secondary_sidebar_bg_color: $bg1;
$theme_secondary_sidebar_fg_color: $fg1;
$theme_secondary_sidebar_backdrop_color: $bg_dim;
$theme_secondary_sidebar_shade_color: RGB(0 0 6/25%);
$theme_secondary_sidebar_border_color: RGB(0 0 6/36%);

$accent_blue: $blue;
$accent_teal: $aqua;
$accent_green: $green;
$accent_yellow: $yellow;
$accent_orange: $orange;
$accent_red: $red;
$accent_pink: $purple;
$accent_purple: $purple;
$accent_slate: $grey2;

$panel_bg_color: $bg0;
$panel_fg_color: $fg0;

$blue_1: mix($blue, $blue_dim, 0%);
$blue_2: mix($blue, $blue_dim, 25%);
$blue_3: mix($blue, $blue_dim, 50%);
$blue_4: mix($blue, $blue_dim, 75%);
$blue_5: mix($blue, $blue_dim, 100%);
$green_1: mix($green, $green_dim, 0%);
$green_2: mix($green, $green_dim, 25%);
$green_3: mix($green, $green_dim, 50%);
$green_4: mix($green, $green_dim, 75%);
$green_5: mix($green, $green_dim, 100%);
$yellow_1: mix($yellow, $yellow_dim, 0%);
$yellow_2: mix($yellow, $yellow_dim, 25%);
$yellow_3: mix($yellow, $yellow_dim, 50%);
$yellow_4: mix($yellow, $yellow_dim, 75%);
$yellow_5: mix($yellow, $yellow_dim, 100%);
$orange_1: #ffbe6f;
$orange_2: #ffa348;
$orange_3: #ff7800;
$orange_4: #e66100;
$orange_5: #c64600;
$red_1: mix($red, $red_dim, 0%);
$red_2: mix($red, $red_dim, 25%);
$red_3: mix($red, $red_dim, 50%);
$red_4: mix($red, $red_dim, 75%);
$red_5: mix($red, $red_dim, 100%);
$purple_1: mix($purple, $purple, 0%);
$purple_2: mix($purple, $purple, 25%);
$purple_3: mix($purple, $purple, 50%);
$purple_4: mix($purple, $purple, 75%);
$purple_5: mix($purple, $purple, 100%);
$brown_1: #cdab8f;
$brown_2: #b5835a;
$brown_3: #986a44;
$brown_4: #865e3c;
$brown_5: #63452c;
$light_1: #ffffff;
$light_2: #f6f5f4;
$light_3: #deddda;
$light_4: #c0bfbc;
$light_5: #9a9996;
$dark_1: #77767b;
$dark_2: #5e5c64;
$dark_3: #3d3846;
$dark_4: #241f31;
$dark_5: #000000;
